body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #fff;
}

.header__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 10px 40px;
    font-weight: bold;
    font-size: 24px;
}

.header__menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header__menu li {
    margin-right: 30px;
}

.header__menu a {
    text-decoration: none;
    color: #1f245e;
}

main {
    flex: 1;
    background-color: #d7cfc7;
    text-align: center;
}

.main__content {
    margin: 0 auto;
    padding: 40px 40px;
    width: 80%;
}

.greeting__text {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 18px;
}

.time__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.time__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
}

.time__button {
    padding: 10px 20px;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
}

footer {
    background-color: #fff;
    text-align: center;
}

.footer__logo {
    margin: 0 auto;
    padding: 10px 40px;
    font-size: 14px;
}